.carousel {
  width: 50%;
  height: 100px;
  margin: auto;
}

.content {
  text-align: center;
}

.signUpWithUs {
  position: relative;
  left: 75px;
}

#errorMessage {
  color: red;
  text-align: center;
}

#logout {
  color: blue;
}

.appLink {
  color: blue;
}

.elementCenter {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

.m-5-auto {
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: 0.6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1;
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.main-para {
  font-size: 3.5rem;
  text-transform: capitalize;
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 1rem;
 
}

form label {
  float: left;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.right-label {
  float: right;
  cursor: pointer;
}

input {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all 0.5s;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/***    Register Page     ***/
#checkbox {
  width: 1rem;
}

form span {
  font-size: 0.8rem;
}

p {
  padding: 15px;
}

#reset_pass_lbl {
  float: left;
}

/***    Home Page     ***/
.home-page-title {
  color: #222;
}

/***  Review Page ***/
.review {
  text-align: center;
  padding-top: 10px;
}
#textboxid
{
    height:100px;
    width: 500px;
    font-size:14pt;
}

#nameboxid{
  height:50px;
  font-size:15pt;
  margin: 0px;
  padding: 10px;
}

#successMessage{
  color:green;
  text-align: center;
  font-size: large;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 300px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  margin-top: 100px;

}

/* Control the right side */
.right {
  right: 0;
  margin-top: 10px;

}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.header {
  text-align: left;
  margin: 100px;
  font-size: x-large;
  font-family:'Courier New', Courier, monospace;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 0px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
margin-top:50px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  bottom: 10%;
}

.dropdown:hover .dropbtn {
  tab-size: 20px;
  border-radius: 50%;
  background-color: black;
}

.subdiv {
  display:none;
}

.dropdown:hover .subdiv {
  display:block;
}