* {
  font: Lato;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.eventoptions {
  font: Lato;
}

.formContainer {
  margin: auto;
  width: 100%;
}

.formInput {
  width: 175px;
  height: 25px;
}

select {
  width: 180px;
  height: 30px;
}

.eventoptions {
  margin: 0px auto;
  margin-left: 600px;
  font-family: Lato;
  font-size: 18px;
}

.date {
  margin-left: -20px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .body {
  flex: 100%;
}

.eventSubmit {
  width: 150px;
  height: 30px;
  background-color: #2f4f4f;
  color: white;
  font-size: 20px;
  font-family: Lato;
  margin: 15px 15px;
}

.progressbar {
  width: 400px;
  height: 10px;
  background-color: gray;
  margin: 30px 30px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}

.footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 50%;
  margin-left: 15%;
  margin-right: 5px;
}

.flex-right {
  width: 50%;
  margin-left: 5px;
}

.calendar-style {
  width: 307px;
  height: 255px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-size: xx-small;
}
