.title {
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: white;
  font-size: 28px;
  font-weight: 10000;
  line-height: 2.6;
  letter-spacing: 0.06em;
  margin: auto;
  display: flex;
  align-items: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlZHoJ137f1W6k4n6tfEmU1spUK_HZB-erlg&usqp=CAU");
}

.tabs {
  font-family: Lato, Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}

.navBarLink {
  text-decoration: none;
  color: white !important;
  padding: 1.2em;
}

a:hover {
  color: #FFD700 !important;
}

.nav {
  background-color: #2f4f4f;
}

.homepg{
  margin-left: 70px;
}
